*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
.bodi{
    width: 100%;
    height: 100vh;
    background-color: rgb(200, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocInfo{
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 270px;
    height: 400px;
    background-color: rgba(179, 179, 179, 0.377);
    border-radius: 20px;
}
.bareDeProgresions{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bareDeProgresions span{
    padding: 0px 70px;
   font-size: 10px; 
}

#playBottoni{
    cursor: pointer;
} 
.playBotone{
    margin-top: 20px;
    width: 230px;
    height: 50px;
    background-color: rgba(84, 20, 20, 0.367);
    display: flex;
    align-items: center;
    border-radius: 10px;
}



.ligeDeLecture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.infoFran h5{
    color: rgb(255, 255, 255);
}
.ligeDeLecture span{
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.ligeDeLecture input{
    width: 70px;
    margin: 0px 5px;
}


.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #f15656;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20%;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background: white;
    border: 3px solid #f6f6f6;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }